@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Quattrocento&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Quattrocento', serif;
    font-size: 100%;
    color: whitesmoke;
}

h1, h2, h3, h4 {
    font-family: 'Black Han Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------NAVBAR-----------*/

#home {
    background-color: #404258;
    
}

#home .nav-link {
    font-size: 18px;
    padding: 0 15px;
    color: whitesmoke;
    
}

/*-------------CAROUSEL--------------*/

#carousel .carousel-item img {
    height: 92vh;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    padding-bottom: 20px;
}

.carousel-caption * {
    padding: 15px 0;
    text-align: center;
}

.carousel-caption p {
    font-size: 24px;
    
}

.carousel-caption a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
}


/*----------MENU---------------*/
#menu {
    padding-top: 20px;
    background-color: #27374D;
    color: whitesmoke;
}
#menu h2, h3, h4, h5 {
    text-transform: uppercase;
}

#menu h2, h3 {
    text-align: center;
}

#menu img {
    max-height: 160px;
    max-width: 160px;
}
#menu .menu-items {
    padding-top: 60px;
}

.menu-items h4 {
    padding-bottom: 10px;
}

.mains * {
    padding-bottom: 5px;
}

.calories {
    font-size: 70%;
    font-weight: bold;
}

.right-border {
    border-right: 2px solid whitesmoke;
}


/*----------RESERVATION BOOKING FORM-----------*/

#reservations {
     color: whitesmoke;
     background: url(../site-images/raw-chicken-breast-dark-background\ \(2\)\ \(1\).jpg) no-repeat center center / cover;
     padding: 15px;
}

/*-------------ABOUT----------------------*/


/*-------------CONTACT----------------------*/

/*----------MEDIA QUERIES------------------*/



@media screen and (max-width: 768px) {
    #menu .right-border {
        border-right: 0;
    }
}
    #menu p {
        font-size: 90%;
    }

@media  screen and  (max-width: 608px) {
    #carousel .carousel-item img {
        height: 42vh;
    }
}
    
