@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Quattrocento&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Quattrocento', serif;
    font-size: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Black Han Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------NAVBAR-----------*/

header {
    background-color: #27374D;
    height: 12vh;
    width: 100%;
    line-height: 12vh;
}

nav {
    text-align: center;
    max-width: 100%;
}

nav ul {
    padding: 0;
    margin-bottom: 0px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 0 2vw;
    font-size: 150%;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    
}  

nav a:hover {
    border-bottom: 2px solid whitesmoke;
}


#carousel {
    width: 100%;
    height: 88vh;
}



#carousel img {
    height: 88vh;
    width: 100%;
}

/*----------MENU---------------*/

#menu {
    width: 100%;
    height: 100vh;
    background-color: red;
    margin-top: 10px;
}

.menu-heading {
    width: 100%;
    height: 18vh;
    background-color: blue;
    text-align: center;
}

.menu-heading img {
    width: 18vw;
    height: 16vh;
    margin: 0 auto;
}

.menu-items {
    text-align: center;
}

.menu-items h4, h5 {
    text-transform: uppercase;
    font-weight: bold;
}

.calories {
    font-size: 60%;
    font-weight: bold;
    color: black;
}

.price {
    float: right;
    font-weight: bold;
}






/*----------MEDIA QUERIES------------------*/

@media screen and (max-width: 1200px) {
    nav ul li {
        padding: 0 1vw;
        font-size: 100%;
    }
}