@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Quattrocento&display=swap');

/*---------DEFAULT SETTINGS----------*/

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Quattrocento', serif;
    font-size: 100%;
    color: whitesmoke;
}

h1, h2, h3, h4, h5 {
    font-family: 'Black Han Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------NAVBAR-----------*/

#home {
    background-color: #404258;
}

#home .nav-link {
    font-size: 18px;
    padding: 0 15px;
    color: whitesmoke;
}

/*-------------CAROUSEL--------------*/

#carousel .carousel-item img {
    height: 92vh;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    padding-bottom: 20px;
}

.carousel-caption * {
    padding: 15px 0;
    text-align: center;
}

.carousel-caption p {
    font-size: 24px;
}

.carousel-caption a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
}


/*----------MENU---------------*/
#menu {
    padding-top: 20px;
    background-color: #27374D;
    color: whitesmoke;
}
#menu h2, h3, h4, h5 {
    text-transform: uppercase;
}

#menu h2, h3 {
    text-align: center;
}

#menu .menu-items {
    padding-top: 60px;
}

.menu-items h4 {
    padding-bottom: 10px;
}
.spliter {
    display: none;
}
.menu-items h5 {
    line-height: 3.5rem;
}

.menu-items span {
    font-family: 'Quattrocento', serif;
    font-weight: bold;
}

.mains * {
    padding-bottom: 5px;
}

.calories {
    font-size: 70%;
    font-weight: bold;
}

.right-border {
    border-right: 2px solid whitesmoke;
}

/*----------RESERVATION BOOKING FORM-----------*/

#reservations {
     color: whitesmoke;
     background: url(../site-images/raw-chicken-breast-dark-background-3.jpg) no-repeat center center / cover;
     padding: 15px;
}

/*-------------ABOUT----------------------*/
.about-us {
    background-color: #404258;
}

/*-------------CONTACT----------------------*/

/*-------------FOOTER----------------------*/

i {
    font-size: 150%
}


@media screen and (max-width: 1068px) {

}


/*----------MEDIA QUERIES MAX-WIDTH 768PX------------------*/

@media screen and (max-width: 768px) {
    #menu * {
        font-size: 1.25rem;
    }

    #menu .right-border {
        border-right: 0;
    }
    
    .spliter{
        display: inline;
    }

    #about .right-border {
        border-right: 0;
    }
}
   

/*-----------MEDIA QUERIES MAX-WIDTH 608PX----------*/

@media  screen and  (max-width: 608px) {
    #carousel .carousel-item img {
        height: 42vh;
    }
    .spliter{
        display: inline;
    }

    #menu * {
        font-size: 0.75rem;
    }

    #menu h5 {
        line-height: 2rem;
    }

    #menu .menu-items {
        padding-top: 10px;
    }
}
    
